.page {
  min-height: 100vh;
  padding: 50px 40px 30px;
  * {
    padding: 0;
    margin: 0;
  }

  .box {
    background-color: red;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .messages {
      height: 90%;
      display: flex;
      flex-direction: column;
      padding: 4px !important;
    }

    .form {
      background-color: aqua;
      display: flex;
      justify-content: space-between;
      height: 10%;
      button {
        min-width: 50px;
        cursor: pointer;
        height: 36px;
        font-size: 24px;
      }
      input {
        width: 90%;
        height: 36px;
        outline: none;
        padding: 0 10px 0 6px;
        font-size: 18px;
      }
    }
  }
}
